.bg-hero-image {
    background-color: rgb(73, 23, 23); 
    background-position: center;
}

nav {
    background-color: rgb(73, 23, 23); 
    color:aliceblue;

}

body {
    background-image: url("/Gallery/img/rasberries.webp");
    background-size: cover;
    background-position: center;
}

.navbar-brand {
    color: aliceblue;
}

.navbar {

}